service gsid /system/bin/gsid
    disabled
    user root
    group root system media_rw

on post-fs
    mkdir /metadata/gsi 0771 root system

on post-fs-data
    mkdir /data/gsi 0700 root root

on boot
    exec - root root -- /system/bin/gsid run-startup-tasks
